<suite name="TestNG Listener Suite">
    <listeners>
        <listener class-name="listeners.AnnotationListeners" />
        <listener class-name="listeners.SuiteListener" />
        <listener class-name="listeners.MethodInterceptorListeners" />
        <listener class-name="listeners.ReporterListeners" />
        <listener class-name="listeners.HookableListeners" />
        <listener class-name="listeners.TestListener" />
        <listener class-name="listeners.ExecutionListeners" />
    </listeners>

    <test name="TestNGListenersExample">
        <classes>
            <class name="tests.SimpleTest"/>
        </classes>
    </test>
</suite>





